*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    
}
body{
    background: rgba(238,238,238,1);
}

.responsive{
    display: block;
    background: #fff;
    border-style: none;
    margin: auto;
    padding-top: 45px;
    max-width: 1260px;
    height: 200px;
    text-align: center;
}
.error_yr{
    color: red;
}
.year_input{
    width: 250px;    
    border-radius: 5px;
    font-size: 15px;
    border: 3px solid #bbbbbb;
    height: 34px;
    font-size: 15px;
    line-height: 15px;
    padding-left: 8px;
    padding-right: 8px;
   
    
}
.date_label{
    font-weight: bold;
}

.btn{
    color: #ffff;
    background: #0098DB;
    border: none;
    padding: 10px 20px;
    margin: 15px 3px;
    width: 150px;
    height: 42px;
    font-size: 19px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }